@import '../constants.scss';

.pair-info {
    display: flex;
    flex-wrap: wrap;

    &__cell {
        border-top: 1px solid $color-grey;
        box-sizing: border-box;
        padding: 10px;
        width: 50%;

        &:first-child,
        &:nth-child(2) {
            border-top: none;
        }

        &:nth-child(odd) {
            border-right: 1px solid $color-grey;
            text-align: right;
        }
    }

    &__label {
        color: #AAA;
        margin-bottom: 10px;
        font-size: 12px;
    }
}
