@import '../constants.scss';

.pair-card {
    background-color: #fff;
    border-radius: $radius;
    border-top: 15px solid $color-grey;
    box-shadow: $shadow-light;
    color: #000;
    display: block;
    margin-bottom: 20px;
    padding: 10px 0;
    text-decoration: none;

    &:hover {
        box-shadow: $shadow-dark;
        color: $color-link;
    }

    &_positive {
        border-top-color: $color-positive;
    }

    &_negative {
        border-top-color: $color-negative;
    }

    &__link {
        color: $color-link;
        display: block;
    }
}
